* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 70vw 100px;
}

#navbar {
    display: flex;
    flex-direction: column;
}

#navbar .buttonStyle {
    all: unset;
    text-align: center;
    padding: 1.5rem 0;
    width: 10vw;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: beige;
    color: black;
}

.activebutton {
    background-color: blueviolet !important;
    color: white !important;
}

.gridlayout {
    border: 1px solid black;
    width: 70vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.griditem {
    font-size: 2rem;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 50px;
}

.griditem:first-of-type {
    background-color: aqua;
}

.griditem:nth-of-type(2) {
    background-color: pink;
}
.griditem:nth-of-type(3) {
    background-color: greenyellow;
}
.griditem:last-of-type {
    background-color: yellow;
}

.gridlayout1 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.gridlayout2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.gridlayout2 .griditem:first-of-type {
    order: 3;
}

.gridlayout2 .griditem:nth-of-type(2) {
    order: 1;
}

.gridlayout2 .griditem:nth-of-type(3) {
    order: 4;
}

.gridlayout2 .griditem:last-of-type {
    order: 2;
}

.gridlayout3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.gridlayout3 .griditem:first-of-type {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
}

.gridlayout4 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
}

.gridlayout5 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.gridlayout5 .griditem:first-of-type {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
}

.gridlayout5 .griditem:nth-of-type(2) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 1;
    grid-column-end: 4;
}

.gridlayout5 .griditem:nth-of-type(3) {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
}

.gridlayout6 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.gridlayout6 .griditem:first-of-type {
    grid-area: 1 / 1 / 4 / 3;
}

.gridlayout6 .griditem:nth-of-type(2) {
    grid-area: 2 / 3 / 5 / 4;
}

.gridlayout6 .griditem:nth-of-type(3) {
    grid-area: 4 / 1 / 5 / 3;
}

.gridlayout7 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}
.gridlayout7 .griditem:first-of-type {
    grid-area: 1 / 1 / 4 / 3;
}

.gridlayout7 .griditem:nth-of-type(2) {
    grid-area: 2 / 3 / 5 / 4;
}

.gridlayout7 .griditem:nth-of-type(3) {
    grid-area: 4 / 1 / 5 / 3;
}

.gridlayout8 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.gridlayout8 .griditem:first-of-type {
    grid-area: 1 / 1 / 4 / 3;
}

.gridlayout8 .griditem:nth-of-type(2) {
    grid-area: 1 / 3 / 5 / 4;
}

.gridlayout8 .griditem:nth-of-type(3) {
    grid-area: 4 / 1 / 5 / 2;
}

.gridlayout8 .griditem:last-of-type {
    grid-area: 4 / 2 / 5 / 3;
}

.gridlayout9 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.gridlayout9 .griditem:first-of-type {
    grid-area: 1 / 1 / 4 / 3;
}

.gridlayout9 .griditem:nth-of-type(2) {
    grid-area: 2 / 3 / 5 / 4;
}

.gridlayout9 .griditem:nth-of-type(3) {
    grid-area: 4 / 1 / 5 / 3;
}